html, body {
    width: 100%;
    background-color: rgba(0, 0, 0, .0);
}

@font-face {
    font-family: myFirstFont;
    src: url(~assets/fonts/gfont.woff2);
}

@font-face {
    font-family: fsb;
    src: url('~assets/fonts/Freight Sans Black SC.otf');
}

@font-face {
    font-family: fsl;
    src: url('~assets/fonts/Freight Sans Light.otf');
}

@font-face {
    font-family: SpaceGrotesk;
    src: url('~assets/fonts/SpaceGrotesk-Bold.otf');
}

@media screen and (max-width: 540px) {
    .btn-body-text {
        padding: 10px;
    }
}